/* src/components/LandingBlock.css */

.landing-block {
  background-color: #ffffff;
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.languages {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  gap: 0.5rem;
}

.langBtn {
  background-color: transparent;
  border: none;
  padding: 0;
  color: #028141;
}

.landing-image {
  max-width: 100%;
}

.bottom-links a {
  font-weight: 600;
  color: #028141;
  padding: 0 0.5rem;
}

.bottom-links a:hover {
  text-decoration: underline;
}
