/* .hero-block {
  padding: 5vh 0;
} */

/* .block-3 {
  background-color: #f9fafb;
  min-height: 75vh;
} */

/* .hero-block-header {
  max-width: 700px;
} */

.hero-block-description {
  font-size: 1.125rem;
  /* margin-top: 1rem; */
}

.hero-block .section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
