.cases-block {
  background-color: #ffffff;
  padding: 3rem 1.5rem;
}

.cases-section {
  background-color: #cbd48b;
  border: #000000 1px solid;
  padding: 1rem;
}

.cases-title {
  color: #000000;
}
